.container{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    overflow: hidden;
    
}
.slider{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: row;
    height:100%;
    transition: left .5s ease;
}
.slider > div{
    box-sizing: border-box;
    height: 100%;
}


@media only screen and (max-width: 850px) {
    .container{
        width: 100vw;
        overflow-x: scroll;
    }
}