.container{
    width: 35vw;
    height: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    padding: 2vw;
}

.container > div{
    height: 25%;
    width: 100%;
    background-color: pink;
}
