

.link{
    padding: 0;
    margin: 0;
    font-size: var(--font-medium);
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.link::before{
    content: var(--pseudo-text);
    width: 1vw;
    background-color: var(--color-main);
    color: var(--color-main);
    height:100%;
    margin-right: .5vw;
}
.link:hover{
    color: var(--color-main);
}
.link:hover svg{
    fill: var(--color-main);
}
.link>svg{
    fill: white;
    width: 1vw;
    height: 1vw;
    margin-left: .5vw;
}
