.container{
    width: 16vh;
    height: 6vh;
    background-color: var(--color-dark-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .5vw;
    margin-right: .5vw;
    color: white;
    cursor: pointer;
    border-radius: .5rem;

}
.container:hover{
    background-color: rgba(108, 100, 100, 0.521);
    border-radius: .5rem;
}

.container > svg{
    fill: var(--text-color-grey);
    cursor: pointer;
    width: 3vh;
    height: 3vh;
}
.container > svg:hover{
    fill: white;
}
p.container{
    width: 70%;
    height: 3vh;
}
.p-container > p{
    padding: 0;
    margin: 0;
    text-align: center;
    padding-left: .5vw;
    font-weight: bold;
    font-size: var(--font-small);
}