.trailer{
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.description{
    width: 70%;
    height: 30vh;
    background: linear-gradient(to top, black, transparent);
    color: white;
    display: grid;
    grid-template-rows: repeat(5,20%);
    grid-template-columns: repeat(4,25%);
}
.description > div{
    grid-area: 3/1/5/2;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    width: 6.5vw;
    height: 6.5vw;
}
.description > h1{
    grid-area: 3/2/4/5;
    align-self: center;
}
.description > h3{
    grid-area: 4/2/5/5;
    color: var(--text-color-grey);
}
.description:hover div>svg{
    fill: var(--color-main);

}
.trailer:hover div>svg{
    fill: var(--color-main);
}