:root{
    --color-main: rgb(245, 197, 24);
    --color-test: rgb(101, 101, 165);
    --carousel-home: 60vw;
    --font-medium: clamp(1.2rem,1.7vw,2.2rem);
    box-sizing: border-box;
}
main{
    width: 100vw;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
}